body{
    font-family: sans-serif;
}


.header{
    background-color: #1F2937;
    color:  #F9FAF8;
    font-size: 18px;
    display:flex;
}

.header .logo{
    font-size: 24px;
    margin-left:200px;
    margin-top:auto;  
    margin-bottom:auto; 
    font-weight: 1000;
}

ul{
    display:flex;
    text-decoration: none;
    list-style: none;   
    margin-left:auto;   
    margin-right:200px;
}

a{
    text-decoration: none;
    color:#F9FAF8;
    margin:16px;
}



.first{
    display:flex;
    background-color: #1F2937;
    color:#F9FAF8;
    padding-bottom: 80px;;
}

.one-left-content{
    display:flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top:80px;
    flex-wrap: wrap;
    width:400px;

}

.one-left-content .header{
    font-size: 48px;
    font-weight: 800;
    display:flex;  
}

.one-left-content button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    width:100px; 
}

.one-right-content{
    background-color: grey;
    display:flex;
    margin-right:200px;
    margin-top:80px;
    margin-left:auto;
    width:400px;
    justify-content: center;
    align-items: center;
}

.second{
    display:flex;
    flex-direction:column;   
}

.second-title{
    font-size: 36px;
    font-weight: 800;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom: 20px;
}

.content{
   display:flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 80px;
}

.container{
    display:flex;  
    width:960px;   
    justify-content: space-around;
}

.container .x{  
    color:white;
    background-color: white;
    display:flex;
    flex-direction: column;
    border-color: #3882F6;
    border-style: solid;
    border-width: 4px;
    width:170px;
    height:170px; 
}

.subcontainer{
    display:flex; 
    width:960px;   
    justify-content: space-around;
}

.subcontainer .y{
    display:flex;
    flex-direction: column;
    width:170px;
    text-align: center;   
}